---
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/HeroSection.astro';
import PillarNav from '../components/PillarNav.astro';
import WelcomeSection from '../components/WelcomeSection.astro';
import PillarOverview from '../components/PillarOverview.astro';
import PillarHydration from '../components/PillarHydration.astro';
import PillarEnergy from '../components/PillarEnergy.astro';
import PillarSleep from '../components/PillarSleep.astro';
import PillarMindset from '../components/PillarMindset.astro';
import PillarNutrition from '../components/PillarNutrition.astro';
import PlanCalculator from '../components/PlanCalculator.astro';
import ClosingSection from '../components/ClosingSection.astro';
---

<Layout>
  <main>
    <HeroSection />
    <PillarNav />
    <WelcomeSection />
    <PillarOverview />
    <PillarHydration />
    <PillarEnergy />
    <PillarSleep />
    <PillarMindset />
    <PillarNutrition />
    <PlanCalculator />
    <ClosingSection />
  </main>
</Layout>
